{% extends "base.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
    <main>
        <form action="/login" method="POST">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <br>
            <button type="submit" name="login">Login</button>
            <button type="submit" name="reg">Register</button>
            {% if login_failed %}
                <br>
                <br>
                <h3>Password is incorrect, please try again</h3>
            {% endif %}
            {% if user_not_found %}
                <br>
                <br>
                <h3>Username not found, please try again</h3>
            {% endif %}
        </form>
    </main>
{% endblock %}